Checks: 'abseil-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,google-*,modernize-*,performance-*,-modernize-use-trailing-return-type'
WarningsAsErrors: 'bugprone-*,clang-analyzer-*,cppcoreguidelines-*'
FormatStyle: 'google'
